.clear {clear:both;}
.footer .container { width:1024px;  margin:0 auto; max-width: 100%;}

.footer { background:#2c2c2c; margin:50px 0px 0px 0px;}
.bottom-logo { text-align:center; padding:30px 0px 0px 0px;}
.divider { margin:20px 0px 0px 0px;}
.footer-btns { margin:20px 0px 0px 0px; width:590px; float:left;}
.footer-btns a { border:2px solid #949494; font-size:16px; color:#ededed; border-radius:6px; margin:0px 10px 15px 0px; display:inline-block; text-decoration:none; padding:10px 0px 10px 0px; text-align:center; width:270px;}

.consultant{background: none; background-color: #A4CF0B; width: 100%; text-align: center;}
.consultant { margin:15px 0px 0px 0px; float:left; color:#050505; background:url(../images/bg-homepage-call-now.png) no-repeat; width:400px; height:110px; text-align:right; padding:20px 16px 0px 0px;}
.consultant p { padding:5px 0px 0px 0px; font-size:16px; }
.consultant h3 {padding:8px 0px 0px 0px; font-size:32px; font-weight:700; }

.footer-links { padding:0px 0px 0px 0px; float:left; width:600px; font-size: 13px;}
.footer-links h6 { font-size:24px; margin:0px 0px 15px 0px; padding:20px 0px 0px 0px; font-weight:600; color:#f2f2f2; text-transform:uppercase;}
.footer-links ul { margin:0px; padding:0px;}
.footer-links ul li { list-style-type:none; background:url(../images/bullet-small-arrow-green.png) left center no-repeat; margin:5px 0px 5px 5px; display:block; float:left; width:48%;}
.footer-links ul li a { color:#c7c7c7; margin:0px 20px 0px 15px; text-decoration:none;}
.footer-links ul li a:hover { text-decoration:underline;}

.vertical-line { float:left; margin-left:30px;}
.follow { padding:0px 0px 0px 30px; float:left;}
.follow h6 {font-size:24px; padding:20px 0px 0px 0px; font-weight:600; color:#f2f2f2; text-transform:uppercase;}
.follow a { margin:20px 20px 0px 0px; display:inline-block;}

.bottom { background:#464646; padding:10px 0px 20px 0px;}
.bottom-links { margin:0px 0px 0px 0px; width:800px;}
.bottom-links a { display:block; background:url(../images/bullet-small-diamond-gray.png) left center no-repeat; float:left; width:45%; color:#a1a0a0; text-decoration:none; margin:10px 0px 0px 0px; padding:0px 0px 0px 12px; font-size:13px;}
.bottom-links a:hover { text-decoration:underline;}

.copy { font-size:12px; float:right; text-align:right; color:#999898; }
.copy a{color:#999898;}

@media screen and (max-width:1044px) {
    .container{width:99% !important;}
}

@media screen and (max-width:1024px) {
    .footer-btns{text-align: center; display: inline-block; float: none; width: 100%;}
    .copy{width:100%; text-align:center; margin-top:30px;}
}

@media screen and (max-width:1007px) {
    .consultant{background: none; background-color: #A4CF0B; width: 100%; text-align: center;}
    .follow {padding: 0px 0px 0px 2% !important;}
    .follow a{margin: 20px 0% 0px 0px;}
    .copy {font-size: 12px; float: right; text-align: center; width: 100%; color: #999898;}
}

@media screen and (max-width:977px) {
    .footer-btns { margin:20px 0px 0px 0px; width:100% !important; float:left;}
    .footer-btns a { border:2px solid #949494; font-size:16px; color:#ededed; border-radius:6px; margin:0px 10px 15px 0px; display:inline-block; text-decoration:none; padding:10px 0px 10px 0px; text-align:center; width:270px;}
    .footer-links{width:60%;}
    .footer-links ul li{width: 100% !important; float: none; display: block;}
    .bottom-links{width:100%;}
}

@media screen and (max-width:767px) {
    .consultant{background: none; background-color: #A4CF0B; width: 100%; text-align: center;}
    .footer-links{width:100%; text-align: center;}
    .footer-links li{width: 100% !important; background: none !important; border-bottom: 1px solid rgba(0, 0, 0, 0.16)}
    .follow{width: 100%; text-align: center;}
    .follow img{opacity: .5;}
    .follow a:hover img{opacity: 1;}
    .vertical-line{display: none;}
    .bottom-links a{display: block !important; width:100%; text-align: center; background: none; border-bottom: 1px solid rgba(0, 0, 0, 0.16);     padding-bottom: 10px;}
    .bottom { background:#464646; padding:10px 0px 20px 0px;     position: relative;     padding-bottom: 60px;}
    .bottom .copy{position: absolute; bottom: 0; width: 100%; text-align: center; left: 0}
    .divider img{width:100%}
    .follow {    padding: 0px 0px 20px 30px;}
    .follow a {    margin: 20px 4% 0px 0px;}
    .vertical-line{    margin-left: 1%;}
}
