nav.menu-new{ background:none; background-color: #1a5c2e; padding: 0; float:left; height: inherit !important;}
nav.menu-new li a{font-family: 'Open Sans', sans-serif !important; font-weight:400 !important; text-transform: uppercase; border:none !important;padding: 13px !important; position:relative; transition:0.3s all;}
nav.menu-new li a:hover{background:none; background-color:#0d509b;color: #fff !important;}

 

nav.menu-new li a::after{
    content: "";
    display: block;
    width: 1px;
    height:100%;
    position: absolute;
    top:0px;
    background-color: #22313C;
    right: 0;
}
nav.menu-new li:last-child a::after{background:none;}
.menu-new{background: none;}



.cont-link a {
    color: #5D5D5D;
    font-size: 13px;
    font-family: open sans;
    float: right;
    margin-right: 20px;
    margin-top: 4px;
    border: 1px solid #ccc;
    padding: 3px 20px;
}
.cont-link a:hover {
    background-color: #364856;
    color: #fff;
    border: 1px solid #fff;
}



@media only screen and (max-width: 979px) {
    nav.menu-new li a ,nav.menu-new li{display:block !important; width: 100%;}
    nav.menu-new li a {padding-left:20px !important;}
    nav.menu-new li a::after{background:none !important;}
}