/* contentrspv, 2 */
.top-each-section-wrapper {
    width: 50% !important;
    text-align: left !important;
}
.logo-wrapper {
    font-size: 9px;
    width: 45%;
    float: left;
}
.logo-wrapper a img.top-logo {
    height: 80px;
}
.top-message-wrapper {
    width: 50%;
    float: left;
    line-height: 20px;
}
.top-message-image {
    height: 40px;
    float: left;
    margin-right: 10px;
}
.top-message {
}

/* content */
#companyname {
    padding: 20px 0 0 30px;
}
#companyname .logo-wrapper span {
    color: #93cf0b !important;
}
#companyname .logo-wrapper a {
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .top-each-section-wrapper, .logo-wrapper, .top-message-wrapper {
        float: none !important;
        width: 100% !important;
    }
    .top-message-wrapper {
        padding-top: 10px;
    }
}