#owl-demo .item{
	margin: 3px;
}
#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
}

.owl-item .item {
	border-right: 4px double #d8d8d8;
	margin: 3px;
	padding: 0 9px;
}
.owl-item .item img {
	display: inline;
	height: 72px;
	width: auto;
}
.owl-carousel {
	border: 2px solid #ebeee0;
	border-radius: 19px;
	padding: 15px;
	position: relative;
	width: 100%;
}
#owl-demo  .owl-controls{ position:absolute; left:0; bottom:-52px;} 
#owl-demo1  .owl-controls{ position:absolute; right:0; bottom:-52px;} 
