img{border: none; }
a{outline: none;}

body { font-family: 'Open Sans', sans-serif; line-height:20px; font-size:14px; padding:0px; margin:0px;}

h1, h2, h3, h4, h5, h6, p {
	font-weight:normal;
	margin:0px;
}

a img { border:none;}

.left { float:left;}
.right { float:right;}

/*Helper Classes for Margin and Padding*/


#header {padding: 0;
position: relative;
z-index: 9;}

.container { width:1024px;  margin:0 auto;}
.logo { padding:0px 0px 0px 0px; float:left; }
.logo img{border-radius: 0 0 5px 5px;}
.active { background:#a4cf0b; padding:8px 12px 8px 12px!important; border-radius:0px 0px 5px 5px; color:#111!important;}

.top-section {  float:right;}
.top-nav { padding:0px 0px 0px 0px; text-align:right;}
.top-nav a { font-size:13px; color:#fff; text-decoration:none; text-transform:uppercase; padding:0px 0px 0px 0px;margin: 2px 11px 0 10px; display:inline-block; position: relative;}
.top-nav a::after {    content: "";    width: 1px;   height: 10px;    background-color: #fff;    display: block;    position: absolute;    top: 0;    right: -13px;    bottom: 0;    margin: auto;}
.top-nav a:last-child::after{background-color:transparent;}
.top-nav a:last-child { border-right:none;     font-weight: 600;}
.phone { margin:3px 40px 0px 0px; font-size:18px; font-weight:700;  display:inline-block; color:#fff;}
.navigation li { display:inline-block; border-bottom:2px solid transparent; padding:4px 0 ; position: relative;}
.navigation li a:hover::after{    content: "";    display: block;    height: 0px;    width: 100%;    position: absolute;    border-bottom: 2px solid #a4cf0b;    left: 0;    top: 25px;}
.navigation li a {  color: #ffffff;  display: inline-block;  font-size: 13px;  letter-spacing: 1px;  text-decoration: none;  text-transform: uppercase;    padding:0 0px;  line-height: 10px; margin: 0 10px; position: relative;}
.navigation li a::before{    content: "";    height: 10px;    width: 1px;    display: block;    position: absolute;    right: -12px;    background-color: #fff;}
.navigation li:nth-last-child(2) a::before{background-color: transparent}
 .navigation li:last-child a{ border:none;}
 .main-banner {  background:url(../images/banner-the-worlds-leading-training-and-development-provider.jpg) center no-repeat; background-size: cover; height: 500px !important;   border-bottom: 10px solid #a4cf0b; box-sizing:border-box; position:relative; }
 
 .slide-caption{ position:absolute; left:0; right:0; bottom:30px; color:#fff;}
  .slide-caption h2{ font-size:30px;font-family: 'Raleway', sans-serif; color:#dcdcdc; text-transform:uppercase;
  font-weight:700; line-height:34px; padding-bottom:8px; margin-bottom:12px; border-bottom:4px double  #dcdcdc; color:#ffffff;}
  .slide-caption h3{ font-size:24px;color:#a4cf0b; text-transform:uppercase;
  font-weight:700;   margin-bottom:15px; }
  .slide-caption-left { width:55%; float:left}
  .slide-caption ul{ list-style:none; padding:0; width:80%}
  .slide-caption ul li{ padding:8px 0; border-bottom:1px dotted #848482; font-size:16px; }
  .slide-caption-right {
  font-family: "Raleway",sans-serif;
  font-size: 17px;
  line-height: 24px;
  TEXT-ALIGN: RIGHT;
  margin-top: 188px;
  float:right;
  width:45%;
}
  .slide-caption-right img{ float:right; margin:0 0 0 10px}
  .about-text {
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  padding:40px 0; border-bottom:5px double #e3e3e3
}
.one-half {
  box-sizing: border-box;
  float: left;
  width: 50%;
}
.client-container{ padding:50px 50px 70px 50px ; text-align:center;}
.border-right{ border-right:3px solid #E3E3E3; }
.client-container h3 {
  font-size: 23px;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 20px;
}
.products-section{ background:url(../images/bg-pattern-border-gray-small.png) repeat #ffffff; border-top:1px solid #dedede; border-bottom:1px solid #dedede; padding:40px 0; overflow:hidden  }
.products-section h2{ font-size:41px; text-transform:uppercase; text-align:center; margin-bottom:50px;}
.product-wrap{ text-align:center; padding:0 10px} 
.one-sixth  {
  float: left;
  width:16.5%;
  box-sizing:border-box;
}
.product-wrap h3 { font-size:14px; color:#4c4c4c; font-weight:700; text-align:center}
.white-space{ width:100%; height:125px;}
.training-section-homepage1{ background:url(../images/bg-homepage-classroom-popular.jpg) no-repeat #e8eaeb; background-size:cover } 
.training-wrapper {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #d9d9d9;
  position: relative;
  top: -65px; padding:30px; margin-bottom:10px;
}
.training-wrapper h2{ font-size:41px; text-align:center; color:#323232; text-transform:uppercase; line-height:55px; margin-bottom:20px;  }
.subjects-wrapper h2,.white-content h2,.micro-learning-section h2,.elearning-section h2{ font-size:41px; text-align:center; color:#323232; text-transform:uppercase; line-height:48px; margin-bottom:20px; padding:20px 0px 20px 0px;  }

.elearning-section h2 { padding:20px 0px 0px 0px;}

.check-list{ list-style:none; padding:0;}
.check-list li{background:none !important;}
.pull-right{ float:right}
.subjects-wrapper {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #d9d9d9;
  padding:30px 20px 4px; margin-bottom:10px;
   position: relative;
  top: -65px;
  
}
.one-fourth {
  box-sizing: border-box;
  float: left;
  margin-right: 15px;
  text-align: center;
  width: 23.8%;
}
.one-fourth.last{ margin-right:0}

.one-fifth {
  box-sizing: border-box;
  float: left;
  margin-right: 15px;
  text-align: center;
  width: 18.8%;
}
.one-fifth.last{ margin-right:0}
.subject-wrap{ border:3px solid #e0e0e0; border-radius:5px; margin-bottom:20px; min-height: 330px; background-color: #fff;}
.subject-icon{ background:#f6f6f6; border-bottom:1px solid  #b0b0b0; margin-bottom:3px; padding:15px; min-height:131px;}
.subject-caption { padding:15px;border-top:1px solid  #b0b0b0; text-align:left;     background-color: #fff;}
 .subject-caption h3{ color:#ff4e00; text-transform:uppercase; margin-bottom:10px; font-weight:700 }
 .featured-item {  position: relative;  width: 25%;     display: inline-block;  float:left;  margin: 0% ;}

.featured-item  img{ width:100%; height:auto; float:left ;  transition: all 0.5s; -webkit-transition: all 0.5s; -ms-transition: all 0.5s;}
.featured-item .overlay{
position:absolute; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.75) ; width: 100%; height: 100%; 
}

 .featured-item:hover .overlay{ background:rgba(0,0,0,0.4); transition: 0.5s all;  }

.featured-item span {width: 150px; text-transform:uppercase;
height: auto; text-align:center;
position: absolute;
top: 70%;
margin-top: -42px;
left: 50%;
margin-left: -75px;}

.featured-item span h4 { color:#fff; font-weight:700; padding:6px 0px 0px 0px;}

.featured-item span img {  width:auto; height:auto; float:none}
.management-section{ background:url(../images/bg-homepage-management-insights.jpg) no-repeat; background-size:cover; color:#fff; padding:0px 0px 20px 0px;   }

.management-section h2 { padding:35px 0px 15px 0px; font-size:30px; text-align:center; font-weight:700;     line-height: 35px;} 
.management-section ul { margin:25px auto; padding:0px; width:470px; }
.management-section ul li { list-style-type:none; float:left; display:inline-block; background:#fff; padding:10px 15px 10px 15px; text-align:center; color:#383838; font-size:16px; font-weight:700;  margin:0px 5px 5px 0px; border-radius:5px; width:auto;}

.arrow_box { text-align:center; display:inline-block; padding:10px 20px 10px 20px; font-size:22px; font-weight:700; color:#a4cf0b; text-transform:uppercase; border-radius:16px; margin:10px 0 0 0;
	position: relative;
	background: #202020;
	border: 1px solid #3b3b3c;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(32, 32, 32, 0);
	border-top-color: #202020;
	border-width: 10px;
	margin-left: -15px;
}
.arrow_box:before {
	border-color: rgba(59, 59, 60, 0);
	border-top-color: #3b3b3c;
	border-width: 11px;
	margin-left: -16px;
}

.line { text-align:center; padding:0px 0px 30px 0px;}
.video-homepage1-homepage1{ }  
	
.pattern-bg {background: #ffffff url("../images/bg-pattern-border-gray-small.png") repeat scroll 0 0;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    overflow: hidden;
    padding: 20px 0 20px 0px;}
.one-sixth.product-wrap a{text-decoration: none !important;}
.management-section p {float:left;}
.note {  padding:15px 0px 0px 0px; font-size:13px;}
.powered { margin:5px 0px 0px 20px;}
.text-center { text-align:center; margin:0 auto; display:table;}

.pd-training-section { padding:20px 0px 0px 0px;}
.pd-training-section h4 { padding:20px 0px 8px 0px; color:#a4cf0b; font-size:25px; font-weight:700; text-transform:uppercase;}
.pd-training-section h5 { color:#494949; font-size:25px; text-transform:uppercase;     padding: 10px 0px 10px 0px;}

.dotted-border { border:4px double #5d5d5d; margin:10px 0px 10px 0px; }
.pd-training-section span { color:#576f00; font-size:17px; display:block; padding:0px 0px 10px 0px;}
.pd-training-section p { font-size:15px; color:#3c3c3c;}

.labeled-section {margin:20px 0px 0px 0px;}
.label-left {      margin: 70px 0px 0px 0px;    float: left;    background: url(../images/bg-homepage-unique-training-guarantees.png) no-repeat;    width: 523px;    height: 65px;    font-size 20px;    font-weight: 700;    color: #454545;    text-transform: uppercase;    padding: 22px 0px 0px 15px;    background-size: 100% auto;    background-position: 0px 5px;}
.label-right {     margin: 14px 0px 0px 0px; float:left;}

.title { padding:0px 0px 0px 0px;}
.title h2 { padding:20px 0px 20px 0px; color:#454545; text-transform:uppercase; font-size:29px; text-align:center; font-weight:700;}

.training-box { margin:30px 0px 0px 0px;}
.training-box h2 { font-size:25px; color:#a4cf0b; text-transform:uppercase; font-weight:700; padding:20px 0px 0px 0px;}
.training-box h2 span { color:#494949; font-weight:400;}

.content-box { background:#fafafa; padding:10px 0px 20px 10px; margin:30px 0px 0px 0px; border:1px solid #ebebeb;}
.content-box ul { margin:0px; padding:0px;}
.content-box ul li {  list-style-type:none; background:#fff; border:4px solid #d2d2d2; padding:10px 20px 10px 20px; border-radius:10px; float:left; text-align:center; font-size:16px; margin:15px 10px 0px 10px;}
.content-box li a{    color: #000;    text-decoration: none;}
.content-box ul li span { font-weight:700; text-transform:uppercase;}

.content-box p { padding:20px 10px 0px 10px;}

.featured-item{position: relative ; overflow: hidden;}
/*.featured-item:hover img{transition: 0.5s all;}*/
.menu-icon{color:#fff; right:20px; top:50px; position:absolute; font-size:16px !important;     z-index: 1;
    font-size: 25px !important;     padding: 20px 0;}
.res_menu{    width: 100%;    text-align: center;    position: absolute;    left: 0;          top: 120px;   background-color:rgba(50, 50, 50, 0.9) ; display: none;}
.res_menu li{line-height:25px;}
.fa-align-justify{font-size:16px;}
#owl-demo { padding: 15px 10px;}
.navigation{padding:20px;     padding: 0 20px;    margin: 10px 0;}
.hide1{display:none;}
.menu-hide a{display: none;}
.login-menu{text-align: center;}
.check-list li{position: relative; padding-left: 20px; line-height: 30px;}
.check-list li::before{ content:"";   background: rgba(0, 0, 0, 0) url("../images/bullet-small-check-green.png") no-repeat; width: 50px; height:50px; display: block; position: absolute; left: 0; top: 7px; }
.training-wrapper > p{text-transform: uppercase;}
.training-wrapper::after {    content: "";    clear: both;    width: 100%;    position: relative;    display: block;}
.line-diamond{    background: url(../images/bg-pattern-double-line-gray.png) repeat-x;    display: block;    margin-bottom: 40px;    width: 100%;    height: 10px; position: relative;}
.line-diamond::after{    content: "";    width: 20px;    height: 20px;    display: block;    position: absolute;    background-color: white;    border-radius: 30px;    top: -7px;    bottom: 0;    margin: auto;    left: 0;    right: 0;    border: 1px solid #ccc;}
.navigation li:nth-last-child(2) a{border-right: none; padding-right:0;}
.slide-caption-left li {position: relative; padding-left: 20px !important;}
.slide-caption-left li span{position: absolute; left: 0; color:#A4CF0B;     top: 11px;}
.top-nav a:hover{box-shadow:0 2px  #a4cf0b;}
.top-nav a:hover:last-child{box-shadow:none; background-color:#323232; color:#fff !important;        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.21);}
.slide-caption-right a{color:#fff; text-decoration:none;}
.slide-caption-right a:hover{box-shadow:0 2px #A4CF0B}
.label-left a{color: #454545; text-decoration:none; font-size: 20px;}
.label-left a:hover{text-decoration:none; box-shadow:0 3px #454545;}
#owl-demo .item img {    display: block;   margin: 0 auto;  height: auto;    max-height: 72px;}
.view{text-decoration: none; color:#050505; text-align: right; font-size: 0.8em;     display: inline-block; position: relative; float: right;}  
.view:hover{box-shadow:0 2px #A4CF0B;}
.check-list p a{color:#323232 !important; text-decoration:none;}
.subject-icon  img:hover {transition: 0.5s all; opacity: 0.7; cursor: pointer}
.label-right img:hover{transition: 0.5s all; opacity: 0.85; cursor: pointer}
.management-section li a{color:#000; text-decoration: none;}
.video-homepage1{ background: url(../images/bg-homepage-microlearning.jpg) no-repeat; padding:0px 0px 0px 0px; margin-bottom:70px; text-align:center;     position: relative; 
    overflow: hidden;
    background-size: cover; height: 415px; width:100%; }
.play-video{margin-top: 40px; display: inline-block; position: absolute; top:100px; left: 0; right: 0;     z-index: 2;}
#video-embed{    display: block;    position: absolute;    top: 0;    left: 0;  z-index: -1;    height: 98%;
    width: 100%; }
#video-embed iframe{ width:100% !important; height:100% !important;}
.vd-button{position: absolute;    z-index: 4;    right: 60px;    z-index: 999999999;    top: 40px;    color: rgb(0, 0, 0);   text-decoration: none;    background-color: #ccc;    display: inline-block;    padding: 13px 20px; display: none;}
.ztop{z-index: 1 !important;}
.pearl{position: absolute; top:25px; left: 0; right: 0;     height: 100%;    width: 100%;}
.play-video img, .pearl img{width: auto !important;}
.pearl-text{    position: absolute;    left: 0;    right: 0;  bottom: 75px;  color: #fff;    font-size: 15px;
    font-weight: bold; font-family:open sans;     line-height: 40px;}
.full-width-box{width:100%;}
/*.full-width-box p{text-transform: uppercase;}*/
.col-sm-6{float:left; width:50%;}
.management-section li:hover {    background-color: #A4CF0B;}
.phone_1 {   display: inline-block;    font-family: open sans;    font-size: 20px;    font-weight: 600;    margin-right: 47px;}
.phone_1 img{float:left;     margin: 6px 10px 0 0px;}
.micro-learning-section{    padding-top: 20px;}
.micro-learning-section   h2{    padding: 20px 0px 0px 0px;} 
.micro-learn{    text-align: center;}
.micro-learn  a {  text-align: center;    display: inline-block;    margin-bottom: 30px;    font-size: 14px;    color: #323232;    text-decoration: none;
    text-transform: uppercase;    font-weight: 700;}
.micro-learn   a:hover{color:#A4CF0B; text-decoration:underline;}
.divider img{width:100%}
.main-banner > .container{position:static;}
.lb-close{background: rgba(0, 0, 0, 0) url("https://blobpdtaus2.blob.core.windows.net/images2/close.png") no-repeat scroll right top;     background-position: 0 0px;    height: 20px;}
#searchform { display: none;}

@media(min-width:1024px){
    .content-box ul li {width:26%}
    .owl-item .item img{width:100% !important;    height:auto !important;   max-height: 100px !important;}
	.lb-outerContainer{max-width:652px; width:auto !important; height:auto !important;}
}
@media screen and (max-width:1044px) {
	.container{width:99% !important;}
}

@media screen and (max-width:1024px) {
.container{ width:100% !important; padding:0 10px; }
body *{ box-sizing:border-box}
.one-sixth{width: calc(100% / 3);}
.product-wrap img{ max-width:100%;}
.product-wrap{ margin-bottom:20px;}
.one-fourth{ width:47%; margin:0 10px  10px !important }
.subject-wrap{ min-height:300px;}
.video-homepage1-homepage1iframe,.video-homepage1-homepage1img{ width:100%; height:auto}
.line img{ width:100%; height:auto}
.one-fifth{ width:30.8%}
 .slide-caption-right{font-size: 13px; line-height: 18px}
 .management-section ul li{      font-size: 14px;}
}

@media screen and (max-width:1007px) {
    .label-left{background: none; background-color: #F0F0F0; width: 100%; text-align: center;}
    .label-right{background: none;    background-color: #484848;    width: 100%;    text-align: center;    padding: 15px 0 !important;}
    
    .title{line-height: 30px;}
    .content-box ul li{display: inline-block; float: none;}
     .training-box,.training-box .content-box{    text-align: center;}
.content-box li{width:50%; }    
}

@media(max-width:1017px){
	.navigation {padding: 0 10px;}
.navigation li{display:block !important;  width:100%;       margin: 7px 0;     border-bottom: 1px solid rgba(0, 0, 0, 0.14);}
.navigation li a{border-right:none; display: block; padding: 5px 0;}
.login-menu li:last-child{background-color: #A4CF0B ;}
.login-menu li:last-child a{color:#000; font-weight: 700;}
	.navigation{padding-left:0;     padding-right: 0;}
.navigation li a::before{content:""; background:none;}
}
@media screen and (max-width:977px) {
    .navigation {padding: 0 10px;}
.navigation li{display:block !important;  width:100%;       margin: 7px 0;     border-bottom: 1px solid rgba(0, 0, 0, 0.14);}
.navigation li a{border-right:none; display: block; padding: 5px 0;}
.login-menu li:last-child{background-color: #A4CF0B ;}
.login-menu li:last-child a{color:#000; font-weight: 700;}
	.navigation{padding-left:0;     padding-right: 0;}
        #owl-demo {  padding: 33px 10px !important;}
        .management-section p{float: none;}
.img-cal{position: relative;}
.lb-outerContainer{max-width:900px; width:auto !important; height:auto !important;}
}
@media screen and (max-width:915px) {    
    .slide-caption-left h2{font-size: 25px; }
}

@media screen and (max-width:801px) {
	.navigation{padding-left:0;     padding-right: 0;}
	.slide-caption-right{font-size: 12px; line-height: 18px}
	.pull-right{width:100%;}
} 
@media(max-height:480px){
.main-banner{    min-height: 540px;}
.lb-outerContainer{max-width:480px; width:auto !important; height:auto !important;}
}
 
@media screen and (max-width:767px) {
    .navigation {padding: 0 10px;}
.navigation li{display:block !important;  width:100%;       margin: 7px 0;     border-bottom: 1px solid rgba(0, 0, 0, 0.14);}
.navigation li a{border-right:none; display: block; padding: 5px 0;}
.login-menu li:last-child{background-color: #A4CF0B ;}
.login-menu li:last-child a{color:#000; font-weight: 700;}
 .slide-caption-right{font-size: 12px;}
 .slide-caption-left, .slide-caption-right{width:100% ; position: relative;}
 .slide-caption-left{ top:130px;}
 .one-half {width: 100% !important;}
 .products-section h2{    line-height: 50px;}
#owl-demo img {    width: 110px !important;    margin: 0 auto;} 
.one-sixth{width:50%;}
.one-fourth{width:100%;}
h2{font-size: 22px !important; line-height: 35px !important;}
.featured-item{width:50%}
.owl-controls{width:100%;}
.one-sixth{    min-height: 160px;}
.one-fifth{width:100%;}
.subject-caption{text-align: center;}
.management-section li{width:100% !important;}
.management-section p{float: none;}
.label-left {    width: 100%; font-size: 24px;  padding: 20px 0px 0px 15px;    background-size: 100%;}
.pd-training-section h5{line-height: 30px;}
.one-fourth{margin-left: 0 !important;}
.training-wrapper img{    position: relative;    width: auto;    float: left;    max-height: 220px;    margin-top: 30px;}
.owl-demo .item img{width:auto !important;}
.navigation li a:hover::after{    top: 27px !important;}
.navigation li a::before{background-color: transparent;}
.col-sm-6{float:left; width:100%;}
.labeled-section .label-left{margin-top: 0; height: 47px}
.lb-outerContainer{max-width:700px; width:auto !important; height:auto !important;}
}

@media screen and (max-width:650px) {
    .label-left {    font-size: 18px;    padding: 15px 0 0 10px;}
}

@media screen and (max-width:722px) {
    .slide-caption-right{font-size: 10px;}
}


@media screen and (max-width:480px) {
    #leftsection{ width:100%; text-align:center; float:none;} 
.slide-caption-left, slide-caption-right{top:200px;}
.top-section{width:100%;}
.top-section .phone{    margin: 30px auto 0;    display: block;    text-align: center;}
.label-left {    font-size: 16px;    padding: 12px 0 12px 10px;     min-height: 50px; height:auto !important;}
.content-box li {    width: 80%;}
.management-section li {width:100% !important}
.label-right img{    width: 92%;}
.slide-caption-left h2{    font-size: 18px !important;    line-height: 25px !important;}
.training-wrapper img{width: 100%; }
.pearl-text h1{    font-size: 22px;    line-height: 35px;}
.management-section ul{width: 100%;}
.management-section li {width:100% !important}
}
 
 @media screen and (max-width:335px) {
     .slide-caption-left{    top: 165px;}
     .slide-caption-left h2{font-size: 18px; line-height: 25px; }
     .slide-caption-right{top:5px}
.featured-item{width:100%}

     
 }
.icon li{
  font-size: 30px;
  display: inherit;
}
.social{
  width: 50%;
  margin: 0px;
  padding: 0px;
  padding: 2px 0px 0px 0px;
  float: right;
}

.product-wrap h3:hover{
  color: #0e4f9b;
}