/*! responsive-nav.js v1.0.14 by @viljamis */

#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

#nav ul li{
    margin-bottom: 0;
}

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
/*  overflow: hidden;*/
  zoom: 1;
}

#nav.opened {
  max-height: 9999px !important;
}

@media screen and (min-width: 479px) {
  .js #nav {
    position: relative;
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 979px) {
  .js #nav {
    position: relative;
    max-height: none;
  }
  #nav-toggle {
    display: block;
  }
}
