@charset "utf-8";
/* CSS Document */
 /**** Reset Start ****/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	background: #939792;
	font-family: Arial;
	color: #565656;
	font-size: 12px;
	-webkit-text-size-adjust: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: normal;
}
p {
	font-weight: normal;
	line-height: normal;
}
a, a:link {
	outline: medium none;
	text-decoration: none;
}
a:active, a:focus {
	outline: medium none;
}
select:-moz-focusring {
 color: transparent;
 text-shadow: 0 0 0 #000;
}
img {
	border: medium none;
	max-width: 100%;
}
ul, li {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.clr {
	clear: both;
}
input[type="button"], button {
	border-radius: 0 0 0 0;
	outline: medium none;
	overflow: visible;
}
:focus {
	outline: medium none;
}
 input::-moz-focus-inner, button::-moz-focus-inner {
 border: 0;
}
.main-btn {
	background: #009DDC;
	border: 1px solid #036B96;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	padding: 8px 20px;
	outline: none;
}
:hover.main-btn {
	background: #036B96;
}
:active.main-btn {
	box-shadow: 2px 2px 2px #036B96 inset;
}
/* Home Page Start */
.container {
	width: 980px;
	margin: 10px auto;
	background: #fff;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	position: relative;
}
header[role="main-header"] {
	padding: 20px 0 20px 30px;
}
#logo {
	text-align: center;
	float: left;
	width: 230px;
}
#logo .title {
	font-size: 30px;
}
#logo .title a {
	color: #000;
	font-family: calibri;
}
#logo .title a span {
	color: #a4cf0b;
}
#logo p {
	color: #707a90
}
#logo p span {
	color: #a4cf0b;
}
.header-txt {
	border-left: 1px solid #DDDDDD;
	color: #666666;
	float: left;
	font-family: "proxima-nova", sans-serif;
	font-size: 25px;
	line-height: 22px;
	margin: 0px 0 0;
	padding: 5px 0 5px 35px;
	width: 160px;
}

.search-content .search #searchsubmit { display: none; }

.search-box {
	background: url("../images/search.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	border: 4px solid #FFFFFF;
	box-shadow: 0 1px 3px rgba(144, 144, 144, 0.95) inset;
	float: left;
	font-size: 14px;
	height: 22px;
	line-height: 1.2em;
	padding: 4px 10px 4px 28px;
	width: 88px;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.search input:focus {
	width: 150px;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}

input:focus.search-box { width:156px; }

.phone-txt {
	color: #5D5D5D;
	float: right;
	font-size: 25px;
	margin: 0 0 0 10px;
	padding: 5px 0;
	position: relative;
	width: 200px;
}

.phone-txt a {
	color: #5D5D5D;
}
.phone-txt img {
	float: left
}
.phone-txt span {
}
nav[role="main-nav"] {
	width: 100%;
	border: medium none;
	background-color: #808080;
	background-image: linear-gradient(bottom, #7a767a 9%, #888888 55%, #8e8e8e 78%);
	background-image: -o-linear-gradient(bottom, #7a767a 9%, #888888 55%, #8e8e8e 78%);
	background-image: -moz-linear-gradient(bottom, #7a767a 9%, #888888 55%, #8e8e8e 78%);
	background-image: -webkit-linear-gradient(bottom, #7a767a 9%, #888888 55%, #8e8e8e 78%);
	background-image: -ms-linear-gradient(bottom, #7a767a 9%, #888888 55%, #8e8e8e 78%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.09, #7a767a), color-stop(0.55, #888888), color-stop(0.78, #8e8e8e));
	height: 38px;
}
nav[role="main-nav"] ul {
	list-style: none;
	display: inline;
	width: 100%;
	float: left;
}
nav[role="main-nav"] ul li {
	float: left;
	padding: 0px 0px;
}
nav[role="main-nav"] ul li a {
	line-height: 38px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 0 11px;
	float: left;
	text-decoration: none;
	font-family: "proxima-nova", sans-serif;
	border-left: 1px solid #999;
	border-right: 1px solid #777;
}
nav[role="main-nav"] ul li:first-child a {
	border-left: none
}
nav[role="main-nav"] ul li:last-child a {
	border-right: none
}
nav[role="main-nav"] li a:hover {
	background: url("../images/nav-arrow.png") no-repeat scroll center bottom #808080;
}
.search-section {
	background: #4a4a4a;
	padding: 10px 40px;
}
.search-input {
	border: 0 none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(144, 144, 144, 0.95) inset;
	color: #666666;
	float: left;
	font-size: 18px;
	padding: 8px 9px;
	width: 695px;
}
.search-section button {
	background: #aeea26; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FlZWEyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NWQxMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #aeea26 0%, #95d10d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aeea26), color-stop(100%, #95d10d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #aeea26 0%, #95d10d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aeea26 0%, #95d10d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aeea26 0%, #95d10d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #aeea26 0%, #95d10d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeea26', endColorstr='#95d10d', GradientType=0 ); /* IE6-8 */
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 18px;
	height: 35px;
	margin-top: 3px;
	text-align: center;
	text-indent: 0;
	width: 145px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 0 10px;
}
.banner-inner {
	/*	background: url(../images/banner-bg.jpg) no-repeat;*/
	background-size: cover;
	width: 100%;
	height: 326px;
}
#banner {
	background: url("../images/shadow_large.jpg") no-repeat scroll center bottom #FFFFFF;
	padding-bottom: 56px;
}
.banner-content {
	float: left;
	width: 425px;
	padding: 50px 20px;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0px;
}
.banner-content.banner-content-2 {
	float: right;
	right: 0;
	width: 390px;
	left: auto
}
.banner-content.banner-content-2 h2 {
	color: #535353;
	font-size: 16px;
	font-weight: bold
}
.banner-content.banner-content-2 p {
	color: #565656;
	font-size: 12px;
}
.banner-content span {
	color: #A4CF0B
}
.banner-content h2 {
	font-size: 20px;
	border-bottom: 1px solid #ccc
}
.banner-content p {
	font-size: 15px;
	line-height: 20px;
	padding: 10px 0 0
}
.training-content {
}
.training-content h2 {
	background: url(../images/title-bg-1.jpg) no-repeat center top;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	height: 46px;
	padding: 5px 0 0;
	text-align: center;
	font-weight: bold
}
.training-list {
}
.training-list li {
	background: none repeat scroll 0 0 #F5F5F5;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px #787878;
	-moz-box-shadow: 2px 2px 5px #787878;
	box-shadow: 2px 2px 5px #787878;
	float: left;
	height: 70px;
	margin: 3px 0 9px 12px;
	padding: 6px 6px 2px;
	width: 218px;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}
.training-list li:hover {
	background: #93cf0b;
}
.training-list li:hover span {
	color: #fff;
}
.training-list li span {
	float: left;
	font-size: 15px;
	font-weight: bold;
	padding-top: 15px;
	text-align: center;
	width: 118px;
	color: #818181;
}
.training-list li img {
	float: right;
}
.training-list li span.list-title {
	padding: 5px 0 0
}
.popular-content {
	text-align: center;
	padding: 10px 0
}
.popular-content a {
	color: #8EC63F;
	font-weight: bold;
	font-size: 20px;
}
.popular-content img {
	vertical-align: middle
}
.training-solution {
	padding: 10px;
}
.training-solution h2 {
	background: url(../images/title-bg-2.jpg) no-repeat center top;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	height: 46px;
	padding: 5px 0 0;
	text-align: center;
	font-weight: bold
}
.training-solution h2 a {
	color: #8EC63F
}
ul.training-listing {
}
ul.training-listing li {
	float: left;
	width: 200px;
	margin: 0 10px;
	background: url(../images/sep-shadow.jpg) no-repeat right center;
	padding: 5px 20px 25px 0
}
ul.training-listing li a {
	float: left;
	text-align: center
}
ul.training-listing li a img {
	width: 100%;
}
ul.training-listing li a span {
	display: block;
	color: #000;
	border-top: 3px solid #90ee90;
	padding: 3px 0 0
}
ul.training-listing li:nth-child(2) a span {
	border-top: 3px solid #ADD8E6;
}
ul.training-listing li:nth-child(3) a span {
	border-top: 3px solid #90EE90;
}
ul.training-listing li:nth-child(4) {
	background: none
}
ul.training-listing li:nth-child(4) a span {
	border-top: 3px solid #808080;
}
.professional-services {
	padding: 10px 0 0
}
.professional-services h2 {
	background: url(../images/title-bg-1.jpg) no-repeat center top;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	height: 46px;
	padding: 5px 0 0;
	text-align: center;
	font-weight: bold
}
.professional-services nav {
	width: 335px;
	margin: 20px auto;
	border-top: 3px solid #333;
	padding: 10px 0 0
}
.professional-services nav ul {
}
.professional-services nav ul li {
	float: left;
	border-right: 1px solid #333333;
	line-height: 12px;
	margin-bottom: 10px;
}
.professional-services nav ul li a {
	float: left;
	color: #333333;
	margin: 0 10px;
	font-size: 14px;
}
.professional-services nav ul li:last-child {
	border: none;
}
.professional-list {
	width: 890px;
	margin: 0 auto;
	text-align: center;
	background: url(../images/dotted-line.jpg) no-repeat center bottom;
	padding: 0 0 10px
}
.professional-list li {
	margin: 3px 10px 10px 12px;
	height: auto;
	width: 260px;
	padding-bottom: 5px;
}
.professional-list li span {
	width: 160px;
}
.training-list.professional-list > li {
	display: inline-block;
	float: none
}
.professional-list li span.list-title {
	padding: 0
}
/*.professional-list li:last-child span {
	font-size: 24px;
}*/
.content-categories {
	padding: 30px;
}
.content-categories-left {
	float: left;
	width: 650px;
}
.content-categories-left ul {
}
.content-categories-left ul li {
	float: left;
	width: 28%;
	border-right: 1px solid #ccc;
	padding: 0 2%;
	min-height: 270px;
}
.content-categories-left ul li h3 {
	color: #5cb100;
	font-size: 18px;
	font-weight: bold
}
.content-categories-left ul li p {
	font-size: 13px;
	line-height: 20px;
	padding: 10px 0 0
}
.content-categories-left ul li p a {
	color: #4155cc;
}
.content-categories-left ul li:last-child p a {
	color: #5cb100;
}
.date-txt {
	float: right;
	font-size: 11px;
}
.social-link {
	float: right;
	width: 260px;
}
.social-link h3 {
	font-size: 18px;
}
.social-link h3 img {
	float: left;
	margin: 0 5px 0 0
}
.green-col {
	color: #5cb100;
}
.social-icon {
	text-align: center
}
.social-icon a {
	margin: 0 15px 5px 0;
	display: inline-block
}
.client-feedback {
	background: url(../images/client-review.jpg) no-repeat;
	background-repeat: no-repeat;
	height: 78px;
	line-height: 85px;
	margin: 0 auto;
	text-align: center;
	width: 381px;
}
.client-feedback a {
	color: #FFFFFF;
	font-size: 18px;
	padding-left: 80px;
}
.bottom-content {
	background: #808080;
	padding: 20px;
}
.btn-left-content {
	float: left;
	width: 250px;
}
.btn-left-content a {
	display: block;
	color: #000;
	background: #a8cf40;
	margin: 0 0 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 7px 5px;
	font-weight: bold;
	font-size: 13px;
}
.booking-option {
	float: left;
	width: 260px;
	margin: 0 50px 0 60px;
}
.booking-option h3 {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	padding: 0 0 10px;
}
.booking-option ul {
}
.booking-option ul li {
	background: url(../images/triangle.gif) no-repeat left 2px;
	padding: 0 0 0px 15px;
	color: #fff;
	margin: 0 0 10px;
}
.booking-option ul li a {
	color: #fff;
	text-decoration: none
}
.booking-option ul li a:hover {
	color: #fff;
	text-decoration: underline
}
.social-right {
	float: right;
	width: 320px;
	color: #fff;
	font-size: 15px;
	text-align: center;
}
.social-right h3 {
	font-size: 40px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	padding: 0 0 10px;
}
.social-right h4 {
	margin: 0;
	padding: 0 0 5px
}
footer[role="main-footer"] {
	padding: 20px;
	width: 800px;
	margin: 0 auto
}
nav[role="footer-nav"] {
	text-align: center;
	margin: 0 0 10px
}
nav[role="footer-nav"] a {
	color: #1155CC;
	border-right: 1px solid #aaa;
	display: inline-block;
	padding: 0 7px;
	margin: 0 0 5px
}
.copyright {
	text-align: center;
	border-top: 1px solid #ccc;
	padding: 25px 0 5px
}
.copyright a {
	color: #1155CC;
}

.reveal-modal { z-index: 1001; }

.reveal-modal-bg { z-index: 1000; }

.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		z-index: 40;
		display: none;
		top: 0;
		left: 0; 
		}
	
.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #eee no-repeat -200px -80px;
		position: absolute;
		z-index: 41;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	
	.reveal-modal .row {
		min-width: 0;
	}


/* Home Page End */

#nav-toggle {
	background: url(../images/nav-icon.png) no-repeat;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 25px;
	height: 20px;
	display: block;
	float: right;
	margin: 10px;
	padding: 0;
	text-indent: -9999px;
	background: url(../images/nav-icon.png) no-repeat top;
}
.banner-content-mb {
	display: none;
}
/* Home Page End */

/* Communication Page Start */
.communication-banner {
	background: url(../images/banner-img-inner.jpg) no-repeat;
	height: 142px;
}
.communication-banner h2 {
	font-size: 24px;
	padding: 17px 20px 20px;
}
.communication-banner h2 span {
	float: left;
	padding: 25px 0 0
}
.communication-banner img {
	float: right;
}
.communication-content {
	padding: 10px 20px;
}
.communication-content-left {
	float: left;
	width: 290px;
}
.bread-crumb {
	padding: 10px 0
}
.bread-crumb ul {
}
.bread-crumb ul li {
	float: left;
	padding: 0 5px 0 0
}
.bread-crumb ul li a {
	float: left;
	color: #15c;
}
a.ebook {
	background: url(../images/pdf-icon.png) no-repeat left 0px;
	padding: 2px 0 5px 25px;
	color: #15c;
}
.communication-btn {
	padding: 10px 0
}
.communication-btn p a {
	background: #8bcc34; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhiY2MzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZGE3MDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #8bcc34 0%, #4da709 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8bcc34), color-stop(100%, #4da709)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8bcc34 0%, #4da709 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8bcc34 0%, #4da709 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8bcc34 0%, #4da709 100%); /* IE10+ */
	background: linear-gradient(to bottom, #8bcc34 0%, #4da709 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bcc34', endColorstr='#4da709', GradientType=0 ); /* IE6-8 */
	display: block;
	padding: 8px 20px;
	margin: 10px 0;
	color: #fff;
	font-size: 16px;
	border: 2px solid #61b114;
	text-align: center;
	width: 77%;
}
.communication-btn p a:hover {
	background: #4da709; /* Old browsers */
}
.communication-btn p a:active {
	-webkit-box-shadow: 0 0 5px #367c02 inset;
	-moz-box-shadow: 0 0 5px #367c02 inset;
	box-shadow: 0 0 5px #367c02 inset;
}
.communication-content-right {
	float: left;
	width: 550px;
	margin: 0 0 0 30px;
	font-size: 15px;
}
.communication-content-right p {
	padding: 10px 0 0
}
.tab-content {
	padding: 10px;
}
ul.tab-list {
}
ul.tab-list li {
	background: url(../images/circle.png) no-repeat 0px 7px;
	padding: 0 0 5px 15px;
	font-size: 15px;
}
.left-tab {
	float: left;
	width: 55%;
}
.left-tab h2 {
	padding: 0 0 10px;
	color: #000;
	font-size: 20px;
}
.left-tab h3 {
	font-size: 16px;
	color: #000;
	padding: 10px 0;
	font-weight: bold
}
.right-tab {
	float: right;
	width: 32%;
}
.course-details {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 20px;
	width: 210px
}
.course-details h2 {
	text-align: center;
	color: #008000;
	padding: 0 0 10px;
}
ul.check-list {
}
ul.check-list li {
	background: url(../images/check-list.jpg) no-repeat 0 2px;
	padding: 0 0 5px 20px;
	margin: 0 0 5px;
	font-size: 15px;
}
.training-section {
	width: 700px;
	margin: 0 auto 20px
}
.training-section h2 {
	background: url("../images/title-bg-2.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	height: 46px;
	padding: 5px 0 0;
	text-align: center;
}
.training-section h2 a {
	color: #8EC63F;
}
.training-section ul {
	text-align: center;
}
.training-section ul li {
	display: inline-block;
	margin: 15px 15px 0px;
}
.training-section ul li a {
	color: #000;
}
.training-section ul li a:hover {
	color: #70a816;
}
.tab-content-2 {
}
.tab-content-2 h2 {
	font-size: 20px;
	color: #000;
}
.tab-content-2 p {
	padding: 10px 0 0
}
.tab-content-2 {
	font-size: 15px;
}
.tab-content-2 ul.tab-list {
	float: left;
}
.tab-content-2 h4 {
	font-size: 15px;
	font-weight: bold;
	color: #57ae11;
	padding: 10px 0 0
}
.left-list-content {
	float: left;
	width: 50%;
	margin: 10px 0 0;
	font-size: 14px;
}
.left-list-content p strong, .right-list-content p strong {
	padding: 0px 0 5px;
	display: block
}
.right-list-content {
	float: right;
	width: 45%;
	font-size: 14px;
}
.tab-content-2 .left-list-content p, .tab-content-2 .right-list-content p {
	padding: 5px 0 0
}
.in-house h2 {
	color: #000;
	padding: 10px 0;
	font-size: 20px;
}
.house-training-left {
	float: left;
	width: 600px;
	font-size: 14px;
}
.house-training-content h3 {
	padding: 15px 0
}
.house-training-content ul.tab-list {
	padding: 0 0 10px;
}
.house-training-left a {
	color: #15c;
}
.house-training-left figure {
	float: left;
	width: 150px;
}
.house-training-content {
	float: left;
	width: 400px;
	margin: 0 0 0 20px;
}
.call-small {
	font-size: 14px;
}
.heading-links {
	font-size: 14px;
}
.heading-links a {
	color: #15c;
}
.delivery-option {
}
.delivery-option h3 {
	color: #000;
}
.delivery-option p a {
	color: #15c;
}
.delivery-option p {
	font-size: 14px;
	padding: 0 0 5px;
	line-height: 18px;
}
ul.delivery-list {
}
ul.delivery-list li {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
ul.delivery-list li img {
	width: 88px;
}
.leading-system {
	padding: 10px 0 20px;
}
.leading-system h2, .public-container .leading-system h2 {
	font-size: 28px;
	color: #008000;
	font-weight: bold
}
.leading-system h3, .public-container .leading-system h3 {
	font-size: 16px;
	color: #000;
	font-weight: bold;
	margin: 20px 0 0;
	text-align: left;
}
.leading-system p {
	font-size: 14px;
}
.public-container {
}
.public-container p {
	font-size: 14px;
}
.public-container h2 {
	font-size: 18px;
	color: #000;
}
.public-container h3 {
	color: #008000;
	font-size: 20px;
	text-align: center;
	font-weight: bold
}
.class-details {
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
}
.class-details p {
	padding: 5px 0;
	font-size: 14px;
}
.class-details p a {
	color: #15c;
}
.public-left {
	float: left;
	width: 240px;
}
.public-right {
	float: right;
	width: 680px;
	margin: 20px 0 0
}
.public-right table {
	width: 100%;
	font-size: 13px;
	margin: 0 0 20px
}
.public-right table tr {
}
.public-right table tr th {
	background: #DCDCDC;
	padding: 10px;
	font-size: 14px;
	font-weight: normal
}
.public-right table tr td {
	padding: 10px;
	background: #eee
}
.public-right table tr:nth-child(even) td {
	background: #FFFBEC
}
.public-right table tr td a {
	color: #15c;
}
.public-right .check-list {
	margin: 10px 0 0
}
.check-list li a {
	color: #15c;
}
.top-participants {
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 10px 0 0
}
.top-participants h3 {
	background: #cef98d;
	color: #666666;
	border-radius: 10x 10px 0 0;
	text-align: left;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
}
.qa-img {
	float: left;
	margin: 0 20px 0 0
}
.top-participants p {
	padding: 10px 0 0;
	font-size: 14px;
}
.public-container .leading-system h2 {
}
.held-listing {
	padding: 20px;
}
.held-listing li {
	border: 1px solid #ddd;
	float: left;
	padding: 10px;
	width: 200px;
	margin: 0 20px 20px;
}
.held-listing li a {
	color: #15c;
}
.hive-container {
	border: 1px solid #ddd;
	width: 480px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}
.hive-container p {
	padding: 5px 0;
}
.public-container .leading-system .hive-container h3 {
	font-weight: bold;
	text-align: center
}
.class-size {
}
.class-size h4 {
	font-weight: bold;
	font-size: 16px;
}
.class-size p {
	padding: 10px 0 0;
}
.e-learning-container {
}
.e-learning-container h2 {
	font-size: 18px;
	font-weight: bold
}
.e-learning-container h3 span {
	color: #99cc00;
}
.e-learning-container img {
	float: left;
	margin: 0 20px 0 0
}
.e-learning-container h3 {
	font-size: 22px;
	color: #000;
	font-weight: bold
}
.e-learning-container h4 {
	font-size: 16px;
	font-weight: bold;
	padding: 20px 0 10px;
}
.e-learning-container p {
	font-size: 14px;
}
.accordian-container {
	padding: 20px 0
}
.accordian-first {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px 0 0
}
.accordian-first h3 {
	background: #cef98d;
	color: #666;
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
	border-radius: 5px 5px 0 0;
	padding: 5px 10px;
	font-size: 18px;
}
.accordian-first p {
	padding: 5px 10px;
}
.accordian-container ul.tab-list {
	padding: 10px;
}
.communication-skills {
}
.communication-skills table {
	width: 100%;
	text-align: left;
}
.communication-skills table tr th {
	background: #dedede;
	padding: 5px;
	font-size: 14px;
}
.communication-skills table tr td {
	background: #fff;
	padding: 5px;
	font-size: 14px;
}
.communication-skills table tr td a {
	color: #15c;
}
.communication-skills table tr td a.enroll-btn {
	background: #99cc00;
	color: #000;
	font-size: 11px;
	padding: 3px 7px;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: 1px 3px 5px #777;
}
.qualification {
	padding: 20px 0
}
.qualification em {
	font-size: 14px;
	font-weight: normal
}
.assesment-txt {
	text-align: center;
	font-size: 15px;
	font-style: italic
}
.course-review {
	padding: 50px;
}
.course-review h3 {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	padding: 0 0 10px;
}
.course-review h4 {
	font-size: 14px;
	padding: 10px 0 40px;
}
.course-review p {
	font-size: 14px;
}
.course-review-left {
	float: left;
	width: 46%;
}
.course-review-right {
	float: right;
	width: 46%;
}
/* Communication Page End */

/* Public Class Start */

.sorting-container {
	padding: 0 0 0 10px;
}
.sorting-container span {
	float: left;
	color: #5cb100;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px 0;
}
.sorting-container a {
	background: url(../images/sorting-green-bg.png) no-repeat;
	width: 117px;
	height: 22px;
	float: left;
	padding: 5px 5px 5px 10px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin: 0 10px 0 0
}
.sorting-container a:hover, .sorting-container a.current {
	background: url(../images/sorting-grey-bg.png) no-repeat;
}
.banner-txt-public {
	float: left;
	width: 600px;
}
.communication-banner .banner-txt-public h2 {
	font-size: 28px;
}
.communication-banner .banner-txt-public h2 span.course-txt {
	color: #5cb100;
	float: none;
}
.search-banner {
	background: rgba(255,255,255,0.5);
	width: 250px;
	float: right;
	margin: 23px 20px 0 0;
	border-radius: 5px;
	padding: 10px;
}
.search-banner h3 {
	font-size: 16px;
	padding: 0 0 10px;
}
.search-banner input[type="text"], .search-banner input[type="search"] {
	background: none;
	border: 1px solid #ccc;
	padding: 5px;
	background: rgba(255,255,255,0.3);
	width: 235px;
}
.public-listing {
	float: left;
}
.public-listing li {
	padding: 10px 0 0 15px;
	background: url(../images/public-listing-icon.jpg) no-repeat left 15px;
}
.public-listing li a {
	color: #15c;
}
a.enrol-txt {
	float: right;
	color: #15c;
}
.administration-container {
	margin: 20px 0
}
.administration-container h2 {
	background: url(../images/heading-bg.jpg) no-repeat;
	color: #fff;
	padding: 5px 10px 15px;
	margin: 0 0 10px
}
.administration-container table {
	width: 100%;
	margin: 0 0 20px;
}
.administration-container table tr th {
	background: #eee;
	padding: 10px;
	text-align: left;
}
.administration-container table tr td {
	background: #fff;
	padding: 10px;
	text-align: left;
}
.administration-container table tr td a {
	color: #15c;
}

/* Public Class End */

/***** RESPONSIVE START ******/
@media only screen and (min-width: 897px) and (max-width: 979px) {
/* Home Page Start */	
.container {
	width: 896px;
}
nav[role="main-nav"] ul li a {
	padding: 0 7px;
}
.search-input {
	width: 640px;
}
.banner-content.banner-content-2 {
	padding: 50px 10px;
	width: 370px;
}
.flexslider .slides img {
	height: 326px;
}
.training-list li {
	width: 270px;
}
ul.training-listing li {
	width: 176px;
}
.training-list.professional-list > li {
	width: 260px;
}
.content-categories-left {
	width: 570px;
}
.booking-option {
	margin: 0 30px;
	width: 240px;
}
.social-right {
	width: 300px;
}
.banner-content-mb {
	display: none;
}
/* Home Page End */	

/* Communication Skills page start */
.communication-content-right {
	width: 525px;
}
.house-training-left {
	width: 550px;
}
.house-training-content {
	width: 380px;
}
.public-right {
	width: 600px;
}
/* Communication Skills page end */

}

@media only screen and (min-width: 768px) and (max-width: 897px) {
/* Home Page Start */	
.no-disp-768 {
	display: none !important
}
.container {
	width: 748px;
}
#logo {
	width: 210px;
}
.header-txt {
	padding: 5px 0 5px 15px;
	font-size: 20px;
}
.phone-txt {
	font-size: 23px;
	width: 180px;
}
.search {
	margin: 8px 0 0;
}
.search input:focus {
	width: 88px;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}
nav[role="main-nav"] ul li a {
	padding: 0 6px;
	font-size: 12px;
}
.search-input {
	width: 495px;
}
.banner-inner {
	height: 260px;
}
.banner-content {
	padding: 30px 10px;
	width: 380px;
}
.banner-content p {
	line-height: 16px;
	font-size: 12px;
}
.banner-content-2 p {
	font-size: 12px;
	line-height: 16px;
	padding: 5px 0 0
}
.banner-content.banner-content-2 {
	padding: 40px 10px;
	width: 370px;
}
.banner-content.banner-content-2 {
	padding: 35px 6px;
	width: 310px;
}
.banner-content h2 {
	font-size: 18px;
}
.flexslider .slides img {
	height: 260px;
}
.training-list li {
	width: 220px;
}
ul.training-listing li {
	width: 140px;
}
.professional-list {
	width: 768px;
	background-size: 90%;
	width: 100%;
}
.training-list.professional-list > li {
	width: 260px;
}
.content-categories-left {
	width: 490px;
}
.social-link {
	width: 195px;
}
.btn-left-content {
	width: 220px;
}
.booking-option {
	margin: 0 20px;
	width: 200px;
}
.booking-option ul li a {
	line-height: 16px;
}
.social-right {
	width: 240px;
}
.social-right p {
	font-size: 12px;
}
.social-right h3 {
	font-size: 36px;
}
footer[role="main-footer"] {
	width: 708px;
}
.banner-content-mb {
	display: none;
}
/* Home Page End */	


/* Communication Skills page start */
.communication-content-left {
	width: 280px;
}
.communication-content-right {
	width: 390px;
}
.house-training-left {
	width: 410px;
}
.house-training-content {
	width: 330px;
	margin: 0
}
.public-right {
	width: 450px;
}
.held-listing li {
	width: 170px;
	margin: 0 10px 10px
}
/* Communication Skills page end */


/* Public Class Start */
.banner-txt-public {
	width: 520px;
}
.search-banner {
	width: 180px;
}
.search-banner input[type="text"], .search-banner input[type="search"] {
	width: 165px;
}
/* Public Class End */
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .reveal-modal {
        width: 80% !important;
        left: 5% !important;
        margin-left: 0px !important;
        padding: 30px 5% 34px !important;
    }
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
/* Home Page Start */	
.no-disp-480 {
	display: none !important
}
.container {
	width: 460px;
}
#logo {
	width: 210px;
}
.header-txt {
	padding: 5px 0 5px 15px;
	font-size: 20px;
}
.phone-txt {
	font-size: 23px;
	width: 180px;
}
.search {
	margin: 10px 0 0;
	clear: both;
	float: left;
	width: 100%;
}
.search-box {
	display: none
}
nav[role="main-nav"] {
	height: auto
}
nav[role="main-nav"] ul li {
	float: none;
}
nav[role="main-nav"] ul li a {
	display: block;
	float: none;
	background-color: #888;
	border: none;
	border-bottom: 1px solid #aaa;
}
nav[role="main-nav"] li a:hover {
	background: url("../images/nav-arrow-phone.png") no-repeat scroll 98% center #808080;
}
#banner {
	background-size: 100%;
}
.flexslider .slides img {
	height: 353px;
}
.banner-content {
	background: rgba(0,0,0,0.7);
	width: 420px;
	padding: 40px 20px 0;
	height: 326px;
}
.banner-content.banner-content-2 {
	background: rgba(0,0,0,0.8);
	right: 0;
	float: left;
	width: 420px;
	padding: 40px 20px 0;
	height: 326px;
}
.banner-content.banner-content-2 h2, .banner-content.banner-content-2 p {
	color: #fff;
}
.banner-content.banner-content-2 p {
	font-size: 15px;
	line-height: 20px;
	padding: 10px 0 0;
}
.search-section {
	padding: 10px 40px
}
.search-input {
	width: 200px
}
.training-list li {
	width: 420px;
}
ul.training-listing li {
	width: 180px;
	margin-bottom: 0px;
	background: none;
}
.training-list li span {
	width: 300px;
	padding-top: 20px;
}
.training-list li span.list-title {
	padding-top: 20px;
}
.professional-list {
	width: 460px;
	background-size: 90%;
	width: 100%;
}
.training-list.professional-list > li {
	width: 300px;
}
.training-list.professional-list > li span {
	width: 160px;
	padding-top: 20px;
}
.training-list.professional-list > li span.list-title {
	padding-top: 2px;
}
.content-categories {
	padding: 20px;
}
.content-categories-left {
	width: 420px;
}
.content-categories-left ul li {
	width: 420px;
	padding: 10px 0 10px;
	border: none;
	border-bottom: 1px solid #CCCCCC;
	min-height: 10px;
	height: auto
}
.social-link {
	width: 400px;
	margin: 0px auto;
	float: none;
	padding: 10px 0 0;
	clear: both
}
.social-icon {
	padding: 10px 0 0
}
.btn-left-content {
	width: 400px;
	padding: 7px 20px 7px 10px;
}
.booking-option {
	margin: 10px 20px;
	width: 80%;
}
.booking-option ul li a {
	line-height: 16px;
}
.social-right {
	width: 420px;
	float: left;
}
.social-right p {
	font-size: 12px;
}
.social-right h3 {
	font-size: 36px;
}
footer[role="main-footer"] {
	width: 420px;
}
#nav-toggle {
	position: absolute;
	top: 10px;
	right: 5px;
}
nav[role="main-nav"] {
	margin-top: -50px !important;
	float: left;
	width: 100%;
}
#banner {
	background: none;
	padding-bottom: 20px;
}
.banner-content-mb {
	padding: 10px;
	display: block;
}
.banner-content-mb h2 {
	border-bottom: 1px solid #CCCCCC;
	font-size: 20px;
}
.banner-content-mb span {
	color: #A4CF0B
}
.banner-content-mb p {
	font-size: 15px;
	line-height: 20px;
	padding: 10px 0 0;
}
/* Home Page End */	

/* Communication Skills page start */
.communication-content-right {
	width: 100%;
	margin: 0;
}
.left-tab {
	width: 100%;
}
.right-tab {
	width: 100%;
}
.resp-tab-content, .resp-tab-content-active {
	border-radius: 0 !important;
}
.course-details {
	width: 94.5%;
}
.communication-btn p a {
	width: 89%;
}
.communication-banner h2 {
	padding: 0px 20px 20px;
	font-size: 20px;
	text-align: center;
}
.communication-banner h2 span {
	padding: 10px 0 0;
	float: none;
	display: block
}
.communication-banner img {
	width: 240px;
	margin: 5px auto 0;
	float: none;
}
.communication-content-left {
	width: 100%;
}
.course-review {
	padding: 20px;
}
.course-review-left, .course-review-right {
	float: none;
	width: 100%;
}
.training-section {
	width: 100%;
}
.training-section h2 {
	background-size: 100%;
	font-size: 15px;
}
.left-list-content {
	float: none;
	width: 100%;
	clear: both
}
.right-list-content {
	float: none;
	width: 100%;
	clear: both
}
.house-training-left {
	width: 130px;
}
.house-training-content {
	width: 270px;
	margin: 0 0 0 10px;
}
.heading-links {
	display: block
}
.leading-system h2, .public-container .leading-system h2 {
	font-size: 22px;
}
.public-left {
	width: 100%;
	margin: 10px 0 0
}
.class-details {
	float: right;
	width: 260px;
}
.public-right {
	width: 100%;
}
.top-participants p {
	padding: 10px 5px 0;
}
.held-listing li {
	width: 340px;
	margin: 5px;
}
.hive-container {
	width: 380px;
	border: 2px solid #DDDDDD;
	margin: 10px auto
}
/* Communication Skills page end */

/* Public Class Start */
.banner-txt-public {
	width: 460px;
}
.communication-banner .banner-txt-public h2 {
	padding: 10px 0 0;
	font-size: 24px;
}
.communication-banner .banner-txt-public h2 span.course-txt {
	display: inline
}
.sorting-container span {
	display: block;
	float: none;
	padding: 5px 10px 5px 0;
}
.search-banner {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 2px solid #EEEEEE;
	border-radius: 5px;
	float: left;
	margin: 40px 0 20px 10px;
	padding: 10px;
	width: 420px;
}
.search-banner input[type="text"], .search-banner input[type="search"] {
	width: 410px;
	background: #fff;
}
.administration-listing {
	overflow: auto;
	height: 250px;
	margin-bottom: 20px;
}
/* Public Class End */

}

@media only screen and (min-width: 0px) and (max-width: 479px) {
/* Home Page Start */	
.no-disp-320 {
	display: none !important
}
.container {
	width: 300px;
}
header[role="main-header"] {
	padding: 10px;
}
#logo {
	float: none;
	text-align: center
}
.header-txt {
	padding: 10px 0 5px 15px;
	font-size: 20px;
	border: none;
	border-top: 1px solid #DDDDDD;
	float: none;
	clear: both;
	margin: 10px 40px 0 0px;
	width: 94%;
}

.search-content .search #searchsubmit { display: none; }

.search-box {
	width: 233px;
	display: none
}
.search input:focus {
	width: 233px;
}
.phone-txt {
	font-size: 23px;
	width: 180px;
}
.search {
	margin: 10px 0 0;
	clear: both;
	float: left;
	width: 100%;
}
.search-section button {
	margin: 10px auto 0;
	width: 280px;
}
nav[role="main-nav"] {
	height: auto
}
nav[role="main-nav"] ul li {
	float: none;
}
nav[role="main-nav"] ul li a {
	display: block;
	float: none;
	background-color: #888;
	border: none;
	border-bottom: 1px solid #aaa;
}
nav[role="main-nav"] li a:hover {
	background: url("../images/nav-arrow-phone.png") no-repeat scroll 98% center #808080;
}
.search-section {
	padding: 10px
}
.search-input {
	width: 280px
}
.banner-content {
	width: 260px;
	padding: 40px 20px 0
}
#banner {
	background-size: 100%;
}
.flexslider .slides img {
	height: 363px;
}
.banner-content {
	background: rgba(0,0,0,0.7);
	width: 280px;
	padding: 30px 10px 0;
	height: 336px;
}
.banner-content.banner-content-2 {
	background: rgba(0,0,0,0.8);
	right: 0;
	float: left;
	width: 280px;
	padding: 20px 10px 0;
	height: 343px;
}
.banner-content.banner-content-2 h2, .banner-content.banner-content-2 p {
	color: #fff;
}
.banner-content.banner-content-2 p {
	font-size: 15px;
	line-height: 20px;
	padding: 10px 0 0;
}
.banner-content h2 {
	font-size: 18px;
}
.banner-content p {
}
.training-list li {
	width: 266px;
}
ul.training-listing li {
	width: 280px;
	margin-bottom: 20px;
	background: none;
	padding: 0
}
.training-list li span {
	width: 154px;
	padding-top: 20px;
}
.training-list li span.list-title {
	padding-top: 20px;
}
.training-solution {
	padding: 10px 0
}
.training-solution h2 {
	padding: 7px 0 0;
	font-size: 13px;
}
.professional-services nav {
	width: 300px;
}
.professional-services nav ul li a {
	margin: 0 5px;
}
.professional-list {
	width: 300px;
	background-size: 90%;
	width: 100%;
}
.training-list.professional-list > li {
	width: 260px;
}
.training-list.professional-list > li span {
	width: 160px;
	padding-top: 20px;
}
.training-list.professional-list > li span.list-title {
	padding-top: 2px;
}
.content-categories {
	padding: 10px;
}
.content-categories-left {
	width: 280px;
}
.content-categories-left ul li {
	width: 280px;
	padding: 10px 0 10px;
	border: none;
	border-bottom: 1px solid #CCCCCC;
	min-height: 10px;
	height: auto
}
.social-link {
	width: 280px;
	margin: 0px auto;
	float: none;
	padding: 10px 0 0;
	clear: both
}
.social-icon {
	padding: 10px 0 0
}
.client-feedback {
	background: url(../images/client-review.jpg) no-repeat;
	background-repeat: no-repeat;
	background-size: 100%;
	line-height: 64px;
	width: 280px;
}
.client-feedback a {
	font-size: 14px;
	padding-left: 68px;
	float: left
}
.btn-left-content {
	width: 240px;
	padding: 7px 20px 7px 10px;
}
.booking-option {
	margin: 10px 20px;
	width: 80%;
}
.booking-option ul li a {
	line-height: 16px;
}
.social-right {
	width: 240px;
	float: left;
}
.social-right p {
	font-size: 12px;
}
.social-right h3 {
	font-size: 36px;
}
footer[role="main-footer"] {
	width: 260px;
}
nav[role="footer-nav"] {
	text-align: left;
}
nav[role="footer-nav"] a {
	border: none;
	display: block;
	margin: 0 0 10px;
}
#nav-toggle {
	position: absolute;
	top: 15px;
	right: 5px;
}
nav[role="main-nav"] {
	top: auto !important;
	margin-top: -96px;
	overflow: hidden
}
#banner {
	background: none;
	padding-bottom: 20px;
}
.banner-content-mb {
	padding: 10px;
	display: block
}
.banner-content-mb h2 {
	border-bottom: 1px solid #CCCCCC;
	font-size: 20px;
}
.banner-content-mb span {
	color: #A4CF0B
}
.banner-content-mb p {
	font-size: 15px;
	line-height: 20px;
	padding: 10px 0 0;
}

.reveal-modal { z-index: 1001; }

.reveal-modal-bg { z-index: 1000; }

.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		z-index: 40;
		display: none;
		top: 0;
		left: 0; 
		}
	
.reveal-modal {
		visibility: hidden;
		top: 100px; 
		background: #eee url(../../images/misc/modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 41;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	
	.reveal-modal .row {
		min-width: 0;
	}


/* Home Page End */	



/* Communication Skills page start */
.communication-banner h2 {
	padding: 0px 10px 10px;
	font-size: 16px;
	text-align: center;
}
.communication-banner h2 span {
	padding: 10px 0 0;
	float: none;
	display: block
}
.communication-banner img {
	width: 240px;
	margin: 5px auto 0;
	float: none;
}
.communication-content-right {
	width: 100%;
	margin: 0;
}
.left-tab {
	width: 100%;
}
.right-tab {
	width: 100%;
}
.resp-tab-content, .resp-tab-content-active {
	border-radius: 0 !important;
}
.course-details {
	width: 92%;
}
.communication-btn p a {
	width: 84%;
}
.communication-content-left {
	width: 100%;
}
.course-review {
	padding: 20px;
}
.course-review-left, .course-review-right {
	float: none;
	width: 100%;
}
.training-section {
	width: 100%;
}
.training-section ul li {
	margin: 15px 5px 0
}
.training-section h2 {
	background-size: 100%;
	font-size: 15px;
	background: #4a4a4a;
}
.left-list-content {
	float: none;
	width: 100%;
	clear: both
}
.right-list-content {
	float: none;
	width: 100%;
	clear: both
}
.house-training-left {
	width: 100%;
}
.house-training-content {
	margin: 0;
	width: 250px;
}
.heading-links {
	display: block
}
.leading-system h2, .public-container .leading-system h2 {
	font-size: 22px;
}
.public-left {
	width: 100%;
	margin: 10px 0 0
}
.class-details {
	float: left;
	width: 225px;
}
.public-table-data {
	overflow: auto;
	height: 350px;
}
.public-right {
	width: 100%;
}
.top-participants p {
	padding: 10px 5px 0;
}
.held-listing {
	padding: 20px 0;
}
.held-listing li {
	width: 226px;
	margin: 0 0 10px;
}
.hive-container {
	width: 224px;
	border: 2px solid #DDDDDD;
	margin: 10px auto
}
.accordian-first h3 {
	font-size: 16px;
}
.communication-skills table tr td a.enroll-btn {
	text-align: center;
	display: block
}
/* Communication Skills page end */
/* Public Class Start */


.communication-banner-new {
	background: url("../images/banner-img-inner.jpg") no-repeat scroll 0 0 / 500% auto rgba(0, 0, 0, 0);
	height: 187px;
}
.banner-txt-public {
	width: 300px;
}
.communication-banner .banner-txt-public h2 {
	padding: 5px 0 0;
	font-size: 20px;
}
.communication-banner .banner-txt-public h2 span.course-txt {
	display: inline
}
.sorting-container {
	margin: 0 auto;
	padding: 0 0 0 10px;
	width: 135px;
}
.sorting-container span {
	display: block;
	float: none;
	padding: 5px 10px 5px 0;
}
.sorting-container a {
	display: block;
	float: none;
	margin-bottom: 5px;
}
.search-banner {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 2px solid #EEEEEE;
	border-radius: 5px;
	float: left;
	margin: 40px 0 20px 10px;
	padding: 10px;
	width: 255px;
}
.search-banner input[type="text"], .search-banner input[type="search"] {
	width: 245px;
	background: #fff;
}
.administration-listing {
	overflow: auto;
	height: 250px;
	margin-bottom: 20px;
}
/* Public Class End */
}
/***** RESPONSIVE END ******/

.top-heading{
    background-color: #1a5c2e;
    text-align: center;
    min-height: 50px;
    border-top: 2px solid #777;
    border-bottom: 2px solid #8a8a8a;
    padding: 0px 0px 0px 0px;
}
.top-heading h2{
    font-size: 20px;
    color: #fff;
    padding: 10px 0px 10px 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
