
        /* Top banner logo */
        #logo {
            width: 25%;
            padding: 0px;
        }
        #logo .title, #logo p{
            font-family: inherit;
            line-height: inherit;
        }
        #logo .title a{
            font-family: inherit;
        }
        #logo p span{
            font-family: inherit;
        }
        /* Top banner slogan */
        .header-txt {
            width: 25%;
            border: none;
            padding: 0px;
            font-family: inherit;
        }
        .slogan_border {
            border-left: 1px solid #DDDDDD;
            text-align: center;
            padding: 5px 0px 0px 0px;
        }
        .header-txt em{
            font-family: inherit;
        }

        .intl_logo_wrapper {
            text-align: center;
            float: left;
            margin-left: 0;
        }
        /* Top banner search */
        .search-content {
            float: left;
            width: 50%;
            padding: 3px 0px 0px 0px;
        }
        #search {
            background-color: inherit !important;
        }
        .search {
            width: 50%;
            float: left;
        }
        /* Top banner phone */
        .phone-txt {
            width: 50%;
            margin: 0px;
            padding: 0px;
            padding: 2px 0px 0px 0px;
        }
        @media only screen and (min-width: 0px) and (max-width: 897px) {
            .search {
                margin: 0px;
            }
        }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
            #logo, .header-txt {
                width: 50%;
                padding: 0px;
            }
            .search-content {
                width: 100%;
                padding-top: 20px;
            }
            .search, .phone-txt {
                width: 100%;
            }
            .phone-txt {
                text-align: center;
            }
            .phone-txt img{
                float: none;
                position: relative;
                top: 5px;
            }
        }
        @media only screen and (min-width: 0px) and (max-width: 479px) {
            #logo, .header-txt {
                width: 100%;
                padding: 0px;
            }
            .slogan_border {
                border: none;
            }
        }

        .media{
            float: left;
            width: 50%;
            padding: 25px 0px 0px 0px;
        }

        .div-success{

            background-color: #1a5c2e;
            color:#FFF;
            text-align: center;
            padding: 5px 0px;
        }
        